In [5]:
#!pip install pandas-datareader
import pandas as pd

In [6]:
FROM = "2001-01-01"
TO = "2023-02-01"
COUNTRY = "US"

dataset_dir  = "datadir\\datasets"

In [7]:
from typing import Optional
from pathlib import Path

def find_project_root() -> Optional[Path]:
    current = Path(".").resolve()
    
    while True:
        if (current / ".git").exists():
            return current
        
        if current.parent == current:
            print("WARNING: No .git dir found")
            return current
              
        current = current.parent
        

PROJECT_ROOT = find_project_root()
PROJECT_ROOT

WindowsPath('C:/Users/Harsha/Documents/ISB_AMPBA/Term5/FP2/GroupAssignment/project')

In [8]:
import pandas_datareader.data as web
df = web.DataReader(
    '&'.join([
        'dataset=JODI_OIL', 
        f'from={FROM}', 
        'h=TIME', 
        f'to={TO}', 
        'v=Reference Area', 
        'ENERGY_PRODUCT=[CRUDEOIL]', 
        'FLOW_BREAKDOWN=[INDPROD]', 
        f'REF_AREA=[{COUNTRY}]', 
        'UNIT_MEASURE=[KBD]'
    ]),
    'econdb'
)
df.columns = df.columns.get_level_values(3)
df.head()

Unit of measure  Thousand Barrels per day (kb/d)
TIME_PERIOD
2002-01-01                                  5848
2002-02-01                                  5871
2002-03-01                                  5883
2002-04-01                                  5859
2002-05-01                                  5924

In [9]:
# df.columns = df.columns.get_level_values(3)
# df['TIME_PERIOD'] = df.index
# # reset the index columns
# df.reset_index(drop=True, inplace=True)

In [10]:
df2 = pd.DataFrame(df.index.to_list(), columns=['Date'])
df2["production"] = df['Thousand Barrels per day (kb/d)'].to_list() 
df2.head()

        Date  production
0 2002-01-01        5848
1 2002-02-01        5871
2 2002-03-01        5883
3 2002-04-01        5859
4 2002-05-01        5924

In [11]:
# python program to check if a path exists
#if path doesnâ€™t exist we create a new path
from pathlib import Path

#creating a new directory called pythondirectory
Path(f"{PROJECT_ROOT}\\{dataset_dir}\\").mkdir(parents=True, exist_ok=True)

In [12]:
df2.to_parquet(f"{PROJECT_ROOT}\\{dataset_dir}\\{COUNTRY}.parquet")